In [18]:
#2017/9/1
import pandas as pd

In [19]:
df = pd.read_csv('Datasets/direct_marketing.csv')
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [20]:
# loc[] method selects by column label
# iloc[] selects by column index
# ix[] can be used whenever you want to use a hybrid approach of either

In [21]:
type(df.recency)

pandas.core.series.Series

In [22]:
type(df['recency'])

pandas.core.series.Series

In [23]:
# By passing in a list of parameters, you can select more than one column to slice. Please be aware that if you use this syntax, 
# even if you only specify a single column, the data type that you'll get back is a dataframe as opposed to a series.

In [24]:
type(df[['recency']])

pandas.core.frame.DataFrame

In [25]:
type(df.loc[:,'recency'])

pandas.core.series.Series

In [26]:
type(df.loc[:,['recency']])

pandas.core.frame.DataFrame

In [27]:
type(df.iloc[:,0])

pandas.core.series.Series

In [28]:
type(df.iloc[:,[0]])

pandas.core.frame.DataFrame

In [29]:
type(df.ix[:,0])

pandas.core.series.Series

In [30]:
df.loc[1:5]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1

In [31]:
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
ordered_satisfaction

['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']

In [35]:
df = pd.DataFrame({'satisfaction':['Mad','Happy','Unhappy','Neutral']})
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [36]:
df.satisfaction = df.satisfaction.astype("category", ordered=True, categories=ordered_satisfaction).cat.codes
df.satisfaction

0   -1
1    3
2    1
3    2
Name: satisfaction, dtype: int8