In [41]:
#2017/9/1
import pandas as pd

In [42]:
df = pd.read_csv('Datasets/direct_marketing.csv')
df.head()

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
0,10,2) $100 - $200,142.44,1,0,Surburban,0,Phone,Womens E-Mail,0,0,0.0,4
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4

In [43]:
# loc[] method selects by column label
# iloc[] selects by column index
# ix[] can be used whenever you want to use a hybrid approach of either

In [44]:
type(df.recency)

pandas.core.series.Series

In [45]:
type(df['recency'])

pandas.core.series.Series

In [46]:
# By passing in a list of parameters, you can select more than one column to slice. Please be aware that if you use this syntax, 
# even if you only specify a single column, the data type that you'll get back is a dataframe as opposed to a series.

In [47]:
type(df[['recency']])

pandas.core.frame.DataFrame

In [48]:
type(df.loc[:,'recency'])

pandas.core.series.Series

In [49]:
type(df.loc[:,['recency']])

pandas.core.frame.DataFrame

In [50]:
type(df.iloc[:,0])

pandas.core.series.Series

In [51]:
type(df.iloc[:,[0]])

pandas.core.frame.DataFrame

In [52]:
type(df.ix[:,0])

pandas.core.series.Series

In [54]:
df.loc[1:5]

,recency,history_segment,history,mens,womens,zip_code,newbie,channel,segment,visit,conversion,spend,DM_category
1,6,3) $200 - $350,329.08,1,1,Rural,1,Web,No E-Mail,0,0,0.0,11
2,7,2) $100 - $200,180.65,0,1,Surburban,1,Web,Womens E-Mail,0,0,0.0,1
3,9,5) $500 - $750,675.83,1,0,Rural,1,Web,Mens E-Mail,0,0,0.0,2
4,2,1) $0 - $100,45.34,1,0,Urban,0,Web,Womens E-Mail,0,0,0.0,4
5,6,2) $100 - $200,134.83,0,1,Surburban,0,Phone,Womens E-Mail,1,0,0.0,1